/*=== Fonts Imports ===*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Press+Start+2P&display=swap');

/*=== Fonts Variables ===*/
$pacifico: 'Pacifico', cursive;
$press-start: 'Press Start 2P', cursive;
$inconsolata: 'Inconsolata', monospace;

/*=== Colors ===*/
$white-ivory: hsl(60, 100%, 97%);

/*=== VERY SMALL SCREEN ===*/
/*=== HEADER ===*/
.header-wrapper {
    margin-top: 2em;
}

.header-title {
    color: $white-ivory;
    font-family: $pacifico;
    text-align: center;
    font-size: 4em;
}

/*=== ABOUT ME ===*/
.about-wrapper {
    margin-top: 2em;
}

.about-text {
    color: $white-ivory;
    font-family: $press-start;
    text-align: center;
    font-size: 1.5em;
}

.about-last-elem {
    animation: fadeOut;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/*=== PRESENTATION ===*/
.pres-wrapper {
   margin-top: -8em;
}

.pres-anim-jumbo {
    opacity: 0;
    animation: fadeInUp;
    animation-delay: 40s;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.pres-style-jumbo {
    background: none !important;
    border-radius: 0 !important;
}

.pres-text {
    margin-top: 1em;
    text-align: center;
    font-family: $inconsolata;
    font-size: 1.5em;
    color: $white-ivory;
}