/*=== Fonts Imports ===*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*=== Fonts Variables ===*/
$pacifico: 'Pacifico', cursive;
$press-start: 'Press Start 2P', cursive;
$inconsolata: 'Inconsolata', monospace;
$rubik: 'Rubik', sans-serif;

/*=== Colors ===*/
$white-ivory: hsl(60, 100%, 97%);
$orange: hsl(9, 100%, 58%);
$orange-a: hsla(16, 87%, 62%, 0.15);
$orange-light: hsl(16, 87%, 62%);
$grey: hsl(0, 0%, 20%);

/*=== GLOBAL STYLE ===*/
.card {
    height: 100%;
}

/*=== VERY SMALL SCREEN ===*/
/*=== HEADER ===*/
.header-wrapper {
    margin-top: 2em;
}

.header-title {
    color: $white-ivory;
    font-family: $pacifico;
    text-align: center;
    font-size: 3em;
}

/*=== ABOUT ME ===*/
.about-wrapper {
    margin-top: 2em;
}

.about-text {
    color: $white-ivory;
    font-family: $press-start;
    text-align: center;
    font-size: 1.5em;
}

.about-last-elem {
    animation: fadeOut;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/*=== PRESENTATION ===*/
.pres-wrapper {
   margin-top: -10em;
}

.pres-anim-jumbo {
    opacity: 0;
    animation: fadeInUp;
    animation-delay: 40s; //40 later
    animation-duration: 2s;
    animation-fill-mode: both;
}

.pres-style-jumbo {
    background: none !important;
    border-radius: 0 !important;
}

.pres-img {
    width: 100%;
}

.pres-text {
    margin-top: 1em;
    text-align: center;
    font-family: $inconsolata;
    font-size: 1.5em;
    color: $white-ivory;
}

/*=== PROJECTS ===*/
.projects-wrapper {
    margin-bottom: 2em;
}

.projects-anim {
    opacity: 0;
    animation: fadeInUp;
    animation-delay: 42s; //40 later
    animation-duration: 2s;
    animation-fill-mode: both;
}

.projects-section-title {
    text-align: center;
    font-family: $rubik;
    color: $white-ivory;
    margin-bottom: 1em;
}

.projects-body {
    font-family: $rubik;
    font-size: 1.2em;
}

.projects-titles {
    font-weight: 800 !important;
    text-transform: uppercase;
}

.projects-footer {
    font-family: $rubik !important;

}

.projects-footer a {
    color: $grey;
}
/*=== FOOTER ===*/
.footer-wrapper {
    background-color: $orange-a;
    border: 0.1em solid  $orange-light;
}

.footer-anim {
    opacity: 0;
    animation: fadeInUp;
    animation-delay: 44s; //40 later
    animation-duration: 2s;
    animation-fill-mode: both;
}

.footer-title {
    margin-top: 1em;
    font-family: $rubik;
    color: $white-ivory;
    text-align: center;
    font-size: 1.2em;
}

.footer-links {
    font-family: $rubik !important;
    color: $white-ivory !important;
    font-size: 1.2em;
    text-decoration: underline;
}

.footer-button {
    background-color: orange !important;
    border-radius: 25px !important;
    border-color: orange !important;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.footer-copy {
    font-family: $rubik;
    color: $white-ivory;
    margin-bottom: 1em;
}

/*=== MEDIA QUESRIES ===*/
@media screen 
    and (min-width: 311px) {
        .pres-img {
            margin-top: 1.5em;
        }
    }

@media screen 
    and (min-width: 320px) {
        .pres-img {
            width: 90%;
        }
    }

@media screen 
    and (min-width: 360px) {
        .pres-img {
            width: 80%;
        }
    }

@media screen 
    and (min-width: 375px) {
        .pres-img {
            margin-top: 2em;
        }
    }

@media screen 
    and (min-width: 411px) {
        .pres-img {
            width: 75%;
        }
    }

@media screen 
    and (min-width: 455px) {
        .pres-img {
            width: 70%;
            margin-top: 4em;
        }
    }

@media screen 
    and (min-width: 568px) {
        .pres-img {
            width: 60%;
            margin-top: 4em;
        }
    }

@media screen 
    and (min-width: 640px) {
        .pres-img {
            width: 55%;
        }
    }

@media screen 
    and (min-width: 731px) {
        .pres-img {
            width: 45%;
        }
    }

   
@media screen 
    and (min-width: 768px) {
        .pres-img {
            width: 100%;
            margin-top: 13em;
        }
        .pres-wrapper {
            margin-top: -7em;
        }
        .pres-text {
            text-align: left;
        }
    }

@media screen 
    and (min-width: 812px) {
        .pres-img {
            margin-top: 8em;
        }
    }

@media screen 
    and (min-width: 1200px) {
        .pres-img {
            width: 80%;
            margin-top: 4em;
        }
        .pres-wrapper {
            margin-top: -10%;
        }
        .pres-text {
            text-align: left;
        }
    }

    @media screen 
    and (min-width: 1090px) {
        .pres-img {
            margin-top: 5em;
        }
    }
    
    @media screen 
    and (min-width: 1366px) {
        .pres-img {
            margin-top: 2em;
        }
    }


    @media screen 
    and (min-width: 1420px) {
        .pres-img {
            width: 65%;
            margin-top: 4em;
        }
        .pres-wrapper {
            margin-top: -5%;
        }
    }

@media screen 
    and (min-width: 1679px) {
        .pres-img {
            width: 50%;
            margin-top: 2em;
        }
        .pres-wrapper {
            margin-top: -5%;
        }
    }
